--
-- PostgreSQL database dump
--

\restrict lCIjpUPW8EdoRdTno72OveirQt4V8jO9OXgt7qhAYnyAt4fK02hX9K0Sej4S1uh

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: enum_coupons_discount_type; Type: TYPE; Schema: public; Owner: user
--

CREATE TYPE public.enum_coupons_discount_type AS ENUM (
    'percentage',
    'fixed'
);


ALTER TYPE public.enum_coupons_discount_type OWNER TO "user";

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: addresses; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.addresses (
    id integer NOT NULL,
    user_id integer NOT NULL,
    full_name character varying(255) NOT NULL,
    street character varying(255) NOT NULL,
    city character varying(255) NOT NULL,
    state character varying(255) NOT NULL,
    zip character varying(255) NOT NULL,
    phone character varying(255) NOT NULL,
    is_default boolean DEFAULT false
);


ALTER TABLE public.addresses OWNER TO "user";

--
-- Name: addresses_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.addresses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.addresses_id_seq OWNER TO "user";

--
-- Name: addresses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.addresses_id_seq OWNED BY public.addresses.id;


--
-- Name: admins; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.admins (
    id integer NOT NULL,
    firstname character varying(100) NOT NULL,
    lastname character varying(100) NOT NULL,
    username character varying(100) NOT NULL,
    password character varying(255) NOT NULL,
    status character varying(100) DEFAULT 'active'::character varying,
    joined_on timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.admins OWNER TO "user";

--
-- Name: admins_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.admins_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.admins_id_seq OWNER TO "user";

--
-- Name: admins_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.admins_id_seq OWNED BY public.admins.id;


--
-- Name: appointments; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.appointments (
    id integer NOT NULL,
    patient_id integer NOT NULL,
    practitioner_id integer NOT NULL,
    appointment_date date NOT NULL,
    appointment_time time without time zone NOT NULL,
    status character varying(255) DEFAULT 'Pending'::character varying,
    notes text,
    created_at timestamp with time zone
);


ALTER TABLE public.appointments OWNER TO "user";

--
-- Name: appointments_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.appointments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.appointments_id_seq OWNER TO "user";

--
-- Name: appointments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.appointments_id_seq OWNED BY public.appointments.id;


--
-- Name: availabilities; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.availabilities (
    id integer NOT NULL,
    practitioner_id integer,
    day_of_week character varying(10) NOT NULL,
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    is_available boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.availabilities OWNER TO "user";

--
-- Name: availabilities_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.availabilities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.availabilities_id_seq OWNER TO "user";

--
-- Name: availabilities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.availabilities_id_seq OWNED BY public.availabilities.id;


--
-- Name: cart_items; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.cart_items (
    id integer NOT NULL,
    cart_id integer NOT NULL,
    item_id integer NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    added_at timestamp with time zone
);


ALTER TABLE public.cart_items OWNER TO "user";

--
-- Name: cart_items_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.cart_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cart_items_id_seq OWNER TO "user";

--
-- Name: cart_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.cart_items_id_seq OWNED BY public.cart_items.id;


--
-- Name: carts; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.carts (
    id integer NOT NULL,
    user_id integer NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.carts OWNER TO "user";

--
-- Name: carts_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.carts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.carts_id_seq OWNER TO "user";

--
-- Name: carts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.carts_id_seq OWNED BY public.carts.id;


--
-- Name: coupons; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.coupons (
    id integer NOT NULL,
    code character varying(50) NOT NULL,
    discount_type public.enum_coupons_discount_type DEFAULT 'percentage'::public.enum_coupons_discount_type NOT NULL,
    discount_value numeric(10,2) NOT NULL,
    min_order_value numeric(10,2) DEFAULT 0,
    max_discount numeric(10,2),
    expiry_date timestamp with time zone,
    usage_limit integer,
    used_count integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.coupons OWNER TO "user";

--
-- Name: COLUMN coupons.max_discount; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON COLUMN public.coupons.max_discount IS 'Maximum discount amount (useful for percentage coupons)';


--
-- Name: COLUMN coupons.usage_limit; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON COLUMN public.coupons.usage_limit IS 'Total number of times this coupon can be used (null = unlimited)';


--
-- Name: coupons_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.coupons_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.coupons_id_seq OWNER TO "user";

--
-- Name: coupons_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.coupons_id_seq OWNED BY public.coupons.id;


--
-- Name: items; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.items (
    id integer NOT NULL,
    item_title character varying(255) NOT NULL,
    item_brand character varying(255) NOT NULL,
    item_cat character varying(255) NOT NULL,
    item_details text NOT NULL,
    item_tags character varying(255) NOT NULL,
    item_image character varying(255) NOT NULL,
    item_quantity integer NOT NULL,
    item_price integer NOT NULL,
    added_by character varying(100),
    status character varying(20) DEFAULT 'Pending'::character varying
);


ALTER TABLE public.items OWNER TO "user";

--
-- Name: items_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.items_id_seq OWNER TO "user";

--
-- Name: items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.items_id_seq OWNED BY public.items.id;


--
-- Name: order_status_history; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.order_status_history (
    id integer NOT NULL,
    order_id integer NOT NULL,
    status integer NOT NULL,
    status_name character varying(50) NOT NULL,
    notes text,
    created_by integer,
    created_at timestamp with time zone
);


ALTER TABLE public.order_status_history OWNER TO "user";

--
-- Name: order_status_history_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.order_status_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.order_status_history_id_seq OWNER TO "user";

--
-- Name: order_status_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.order_status_history_id_seq OWNED BY public.order_status_history.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.orders (
    id integer NOT NULL,
    item_id integer NOT NULL,
    user_id integer NOT NULL,
    order_quantity integer NOT NULL,
    order_date date NOT NULL,
    order_status integer DEFAULT 1 NOT NULL,
    address_id integer,
    tracking_number character varying(255),
    shipped_date timestamp with time zone,
    delivered_date timestamp with time zone,
    estimated_delivery date,
    practitioner_id integer,
    coupon_code character varying(255),
    discount_amount double precision DEFAULT '0'::double precision,
    final_amount double precision,
    razorpay_order_id character varying(255),
    razorpay_payment_id character varying(255),
    razorpay_signature character varying(255),
    payment_method character varying(255)
);


ALTER TABLE public.orders OWNER TO "user";

--
-- Name: COLUMN orders.order_status; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON COLUMN public.orders.order_status IS '0=PendingPayment, 1=Confirmed, 2=Processing, 3=Packed, 4=Shipped, 5=OutForDelivery, 6=Delivered, 7=Cancelled, 8=Returned, 9=Refunded';


--
-- Name: COLUMN orders.practitioner_id; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON COLUMN public.orders.practitioner_id IS 'ID of the practitioner/pharmacy who sold the item';


--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.orders_id_seq OWNER TO "user";

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: patients; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.patients (
    id integer NOT NULL,
    fname character varying(50) NOT NULL,
    lname character varying(50) NOT NULL,
    username character varying(50) NOT NULL,
    password character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(20),
    profile character varying(255),
    address character varying(255),
    joined_on timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.patients OWNER TO "user";

--
-- Name: patients_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.patients_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.patients_id_seq OWNER TO "user";

--
-- Name: patients_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.patients_id_seq OWNED BY public.patients.id;


--
-- Name: practitioners; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.practitioners (
    id integer NOT NULL,
    fname character varying(255) NOT NULL,
    lname character varying(255) NOT NULL,
    username character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(20),
    office_name character varying(255),
    address character varying(255),
    profile character varying(255),
    professionality character varying(255),
    bio text,
    nida character varying(50),
    businesslicense character varying(255),
    facebook character varying(255),
    twitter character varying(255),
    license character varying(255),
    verified boolean DEFAULT false,
    is_new boolean DEFAULT true,
    role character varying(50) DEFAULT 'user'::character varying,
    joined_on timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.practitioners OWNER TO "user";

--
-- Name: practitioners_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.practitioners_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.practitioners_id_seq OWNER TO "user";

--
-- Name: practitioners_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.practitioners_id_seq OWNED BY public.practitioners.id;


--
-- Name: prescriptions; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.prescriptions (
    id integer NOT NULL,
    practitioner_id integer NOT NULL,
    patient_id integer NOT NULL,
    medicines jsonb DEFAULT '[]'::jsonb,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.prescriptions OWNER TO "user";

--
-- Name: prescriptions_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.prescriptions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.prescriptions_id_seq OWNER TO "user";

--
-- Name: prescriptions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.prescriptions_id_seq OWNED BY public.prescriptions.id;


--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.refresh_tokens (
    id integer NOT NULL,
    user_id integer NOT NULL,
    user_type character varying(20) NOT NULL,
    token character varying(500) NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT refresh_tokens_user_type_check CHECK (((user_type)::text = ANY ((ARRAY['patient'::character varying, 'practitioner'::character varying, 'admin'::character varying])::text[])))
);


ALTER TABLE public.refresh_tokens OWNER TO "user";

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.refresh_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.refresh_tokens_id_seq OWNER TO "user";

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.refresh_tokens_id_seq OWNED BY public.refresh_tokens.id;


--
-- Name: reviews; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.reviews (
    id integer NOT NULL,
    item_id integer NOT NULL,
    user_id integer NOT NULL,
    user_name character varying(100) NOT NULL,
    rating integer NOT NULL,
    comment text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT reviews_rating_check CHECK (((rating >= 1) AND (rating <= 5)))
);


ALTER TABLE public.reviews OWNER TO "user";

--
-- Name: reviews_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.reviews_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.reviews_id_seq OWNER TO "user";

--
-- Name: reviews_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.reviews_id_seq OWNED BY public.reviews.id;


--
-- Name: wishlists; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.wishlists (
    id integer NOT NULL,
    user_id integer NOT NULL,
    item_id integer NOT NULL,
    created_at timestamp with time zone
);


ALTER TABLE public.wishlists OWNER TO "user";

--
-- Name: wishlists_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.wishlists_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.wishlists_id_seq OWNER TO "user";

--
-- Name: wishlists_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.wishlists_id_seq OWNED BY public.wishlists.id;


--
-- Name: addresses id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.addresses ALTER COLUMN id SET DEFAULT nextval('public.addresses_id_seq'::regclass);


--
-- Name: admins id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.admins ALTER COLUMN id SET DEFAULT nextval('public.admins_id_seq'::regclass);


--
-- Name: appointments id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.appointments ALTER COLUMN id SET DEFAULT nextval('public.appointments_id_seq'::regclass);


--
-- Name: availabilities id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.availabilities ALTER COLUMN id SET DEFAULT nextval('public.availabilities_id_seq'::regclass);


--
-- Name: cart_items id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.cart_items ALTER COLUMN id SET DEFAULT nextval('public.cart_items_id_seq'::regclass);


--
-- Name: carts id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts ALTER COLUMN id SET DEFAULT nextval('public.carts_id_seq'::regclass);


--
-- Name: coupons id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons ALTER COLUMN id SET DEFAULT nextval('public.coupons_id_seq'::regclass);


--
-- Name: items id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.items ALTER COLUMN id SET DEFAULT nextval('public.items_id_seq'::regclass);


--
-- Name: order_status_history id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.order_status_history ALTER COLUMN id SET DEFAULT nextval('public.order_status_history_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: patients id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.patients ALTER COLUMN id SET DEFAULT nextval('public.patients_id_seq'::regclass);


--
-- Name: practitioners id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.practitioners ALTER COLUMN id SET DEFAULT nextval('public.practitioners_id_seq'::regclass);


--
-- Name: prescriptions id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.prescriptions ALTER COLUMN id SET DEFAULT nextval('public.prescriptions_id_seq'::regclass);


--
-- Name: refresh_tokens id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.refresh_tokens ALTER COLUMN id SET DEFAULT nextval('public.refresh_tokens_id_seq'::regclass);


--
-- Name: reviews id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.reviews ALTER COLUMN id SET DEFAULT nextval('public.reviews_id_seq'::regclass);


--
-- Name: wishlists id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.wishlists ALTER COLUMN id SET DEFAULT nextval('public.wishlists_id_seq'::regclass);


--
-- Data for Name: addresses; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.addresses (id, user_id, full_name, street, city, state, zip, phone, is_default) FROM stdin;
1	2	Amit Test	123 Test St	Test City	TS	12345	1234567890	f
2	8	Test User	123 Main St	Mumbai	MH	400001	9876543210	f
3	1	patient_user	L street	pune	maharashtra	412309	698696658998	f
\.


--
-- Data for Name: admins; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.admins (id, firstname, lastname, username, password, status, joined_on) FROM stdin;
1	Super	Admin	admin_user	$2b$10$ep8rZA4rw8z1UczhfgfCG.qtnsxo.8zygQH13y1LlhyNrJBrrhx7y	active	2025-11-22 13:20:38.767
2	Super	Admin	admin	.UZl/ClG4QQDPK5avd/kKj72A/ihmK	active	2025-12-14 15:04:32.183126
4	New	Admin	newadmin_user	$2b$10$OVmc.lpGzyaZTgt7MbwAsujYQ1KSHlodKOlA8G2xbpw/B9T2LV1XS	active	2025-12-20 07:20:20.19
\.


--
-- Data for Name: appointments; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: availabilities; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.availabilities (id, practitioner_id, day_of_week, start_time, end_time, is_available, created_at) FROM stdin;
7	1	Monday	09:00:00	17:00:00	t	2025-12-20 07:22:27.917
8	1	Thursday	09:00:00	17:00:00	t	2025-12-20 07:22:27.918
9	1	Tuesday	09:00:00	19:00:00	t	2025-12-20 07:22:27.918
10	1	Tuesday	18:00:00	20:00:00	t	2025-12-20 07:22:27.918
\.


--
-- Data for Name: cart_items; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.cart_items (id, cart_id, item_id, quantity, added_at) FROM stdin;
90	3	3	1	2025-12-20 05:21:59.297+00
91	3	2	1	2025-12-20 05:22:08.111+00
92	3	7	1	2025-12-20 05:22:17.332+00
\.


--
-- Data for Name: carts; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.carts (id, user_id, created_at, updated_at) FROM stdin;
1	2	2025-11-29 04:08:16.898+00	2025-11-29 04:08:16.908+00
2	8	2025-11-29 09:26:14.475+00	2025-11-29 09:26:14.491+00
3	1	2025-11-30 07:26:24.063+00	2025-11-30 07:26:24.066+00
4	9	2025-12-18 17:41:04.953+00	2025-12-18 17:41:04.958+00
\.


--
-- Data for Name: coupons; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.coupons (id, code, discount_type, discount_value, min_order_value, max_discount, expiry_date, usage_limit, used_count, is_active, created_at) FROM stdin;
4	FIRSTORDER	percentage	15.00	0.00	100.00	2025-12-31 00:00:00+00	\N	2	t	2025-12-04 19:32:39.16307+00
3	SAVE50	fixed	50.00	200.00	\N	2025-12-31 00:00:00+00	100	2	t	2025-12-04 19:32:39.16307+00
2	WELCOME10	percentage	10.00	100.00	50.00	2025-12-31 00:00:00+00	\N	2	t	2025-12-04 19:32:39.16307+00
\.


--
-- Data for Name: items; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: order_status_history; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: patients; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: practitioners; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: prescriptions; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.prescriptions (id, practitioner_id, patient_id, medicines, notes, created_at) FROM stdin;
\.


--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.refresh_tokens (id, user_id, user_type, token, expires_at, created_at) FROM stdin;
1	1	patient	50a7ece7cb5786d3ebd388a3c3a31ea3d7a245793046ba0344757db4ad98244531a964deea7b7703979ca9e248d0f4b9fdc6c7b52411a00958ca9b4974de1a8b	2025-12-13 18:46:42.341	2025-12-06 18:46:42.347
2	1	patient	fdea46a44959573cea8788a0b60640dc2acd9e52a29831fc426c832edfc55256463b4843841c3db2a48d3950a96cb6e34f8c4fbc63706f98d57a58d1b2467701	2025-12-13 18:46:52.26	2025-12-06 18:46:52.26
\.


--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.reviews (id, item_id, user_id, user_name, rating, comment, created_at) FROM stdin;
1	2	1	patient_user	4	great medicine	2025-12-12 18:19:24.082
\.


--
-- Data for Name: wishlists; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.wishlists (id, user_id, item_id, created_at) FROM stdin;
\.


--
-- Name: addresses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.addresses_id_seq', 3, true);


--
-- Name: admins_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.admins_id_seq', 4, true);


--
-- Name: appointments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.appointments_id_seq', 6, true);


--
-- Name: availabilities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.availabilities_id_seq', 10, true);


--
-- Name: cart_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.cart_items_id_seq', 92, true);


--
-- Name: carts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.carts_id_seq', 4, true);


--
-- Name: coupons_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.coupons_id_seq', 4, true);


--
-- Name: items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.items_id_seq', 22, true);


--
-- Name: order_status_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.order_status_history_id_seq', 75, true);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.orders_id_seq', 128, true);


--
-- Name: patients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.patients_id_seq', 12, true);


--
-- Name: practitioners_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.practitioners_id_seq', 9, true);


--
-- Name: prescriptions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.prescriptions_id_seq', 1, false);


--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.refresh_tokens_id_seq', 2, true);


--
-- Name: reviews_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.reviews_id_seq', 1, true);


--
-- Name: wishlists_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.wishlists_id_seq', 3, true);


--
-- Name: addresses addresses_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.addresses
    ADD CONSTRAINT addresses_pkey PRIMARY KEY (id);


--
-- Name: admins admins_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_pkey PRIMARY KEY (id);


--
-- Name: admins admins_username_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_username_key UNIQUE (username);


--
-- Name: appointments appointments_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_pkey PRIMARY KEY (id);


--
-- Name: availabilities availabilities_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.availabilities
    ADD CONSTRAINT availabilities_pkey PRIMARY KEY (id);


--
-- Name: cart_items cart_items_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_pkey PRIMARY KEY (id);


--
-- Name: carts carts_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_pkey PRIMARY KEY (id);


--
-- Name: carts carts_user_id_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key UNIQUE (user_id);


--
-- Name: carts carts_user_id_key1; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key1 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key10; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key10 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key11; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key11 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key12; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key12 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key13; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key13 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key14; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key14 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key15; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key15 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key16; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key16 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key17; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key17 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key18; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key18 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key19; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key19 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key2; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key2 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key20; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key20 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key21; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key21 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key22; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key22 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key23; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key23 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key24; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key24 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key25; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key25 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key26; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key26 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key27; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key27 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key28; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key28 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key29; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key29 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key3; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key3 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key30; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key30 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key31; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key31 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key32; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key32 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key33; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key33 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key34; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key34 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key35; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key35 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key36; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key36 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key37; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key37 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key38; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key38 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key39; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key39 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key4; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key4 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key40; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key40 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key41; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key41 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key42; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key42 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key43; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key43 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key44; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key44 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key45; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key45 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key46; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key46 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key47; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key47 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key48; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key48 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key49; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key49 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key5; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key5 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key50; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key50 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key51; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key51 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key6; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key6 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key7; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key7 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key8; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key8 UNIQUE (user_id);


--
-- Name: carts carts_user_id_key9; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key9 UNIQUE (user_id);


--
-- Name: coupons coupons_code_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key UNIQUE (code);


--
-- Name: coupons coupons_code_key1; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key1 UNIQUE (code);


--
-- Name: coupons coupons_code_key10; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key10 UNIQUE (code);


--
-- Name: coupons coupons_code_key11; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key11 UNIQUE (code);


--
-- Name: coupons coupons_code_key12; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key12 UNIQUE (code);


--
-- Name: coupons coupons_code_key13; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key13 UNIQUE (code);


--
-- Name: coupons coupons_code_key14; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key14 UNIQUE (code);


--
-- Name: coupons coupons_code_key15; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key15 UNIQUE (code);


--
-- Name: coupons coupons_code_key16; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key16 UNIQUE (code);


--
-- Name: coupons coupons_code_key17; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key17 UNIQUE (code);


--
-- Name: coupons coupons_code_key18; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key18 UNIQUE (code);


--
-- Name: coupons coupons_code_key19; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key19 UNIQUE (code);


--
-- Name: coupons coupons_code_key2; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key2 UNIQUE (code);


--
-- Name: coupons coupons_code_key20; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key20 UNIQUE (code);


--
-- Name: coupons coupons_code_key21; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key21 UNIQUE (code);


--
-- Name: coupons coupons_code_key22; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key22 UNIQUE (code);


--
-- Name: coupons coupons_code_key23; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key23 UNIQUE (code);


--
-- Name: coupons coupons_code_key24; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key24 UNIQUE (code);


--
-- Name: coupons coupons_code_key25; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key25 UNIQUE (code);


--
-- Name: coupons coupons_code_key26; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key26 UNIQUE (code);


--
-- Name: coupons coupons_code_key27; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key27 UNIQUE (code);


--
-- Name: coupons coupons_code_key28; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key28 UNIQUE (code);


--
-- Name: coupons coupons_code_key29; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key29 UNIQUE (code);


--
-- Name: coupons coupons_code_key3; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key3 UNIQUE (code);


--
-- Name: coupons coupons_code_key30; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key30 UNIQUE (code);


--
-- Name: coupons coupons_code_key31; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key31 UNIQUE (code);


--
-- Name: coupons coupons_code_key32; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key32 UNIQUE (code);


--
-- Name: coupons coupons_code_key33; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key33 UNIQUE (code);


--
-- Name: coupons coupons_code_key34; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key34 UNIQUE (code);


--
-- Name: coupons coupons_code_key4; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key4 UNIQUE (code);


--
-- Name: coupons coupons_code_key5; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key5 UNIQUE (code);


--
-- Name: coupons coupons_code_key6; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key6 UNIQUE (code);


--
-- Name: coupons coupons_code_key7; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key7 UNIQUE (code);


--
-- Name: coupons coupons_code_key8; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key8 UNIQUE (code);


--
-- Name: coupons coupons_code_key9; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key9 UNIQUE (code);


--
-- Name: coupons coupons_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_pkey PRIMARY KEY (id);


--
-- Name: items items_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_pkey PRIMARY KEY (id);


--
-- Name: order_status_history order_status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.order_status_history
    ADD CONSTRAINT order_status_history_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: patients patients_email_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_email_key UNIQUE (email);


--
-- Name: patients patients_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_pkey PRIMARY KEY (id);


--
-- Name: patients patients_username_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_username_key UNIQUE (username);


--
-- Name: practitioners practitioners_email_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.practitioners
    ADD CONSTRAINT practitioners_email_key UNIQUE (email);


--
-- Name: practitioners practitioners_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.practitioners
    ADD CONSTRAINT practitioners_pkey PRIMARY KEY (id);


--
-- Name: practitioners practitioners_username_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.practitioners
    ADD CONSTRAINT practitioners_username_key UNIQUE (username);


--
-- Name: prescriptions prescriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.prescriptions
    ADD CONSTRAINT prescriptions_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_token_key UNIQUE (token);


--
-- Name: reviews reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey PRIMARY KEY (id);


--
-- Name: wishlists wishlists_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.wishlists
    ADD CONSTRAINT wishlists_pkey PRIMARY KEY (id);


--
-- Name: wishlists wishlists_user_id_item_id_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.wishlists
    ADD CONSTRAINT wishlists_user_id_item_id_key UNIQUE (user_id, item_id);


--
-- Name: coupons_code; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX coupons_code ON public.coupons USING btree (code);


--
-- Name: idx_order_status_history_order; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_order_status_history_order ON public.order_status_history USING btree (order_id);


--
-- Name: idx_refresh_tokens_token; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_refresh_tokens_token ON public.refresh_tokens USING btree (token);


--
-- Name: idx_refresh_tokens_user; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_refresh_tokens_user ON public.refresh_tokens USING btree (user_id, user_type);


--
-- Name: wishlists_user_id_item_id; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX wishlists_user_id_item_id ON public.wishlists USING btree (user_id, item_id);


--
-- Name: availabilities availabilities_practitioner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.availabilities
    ADD CONSTRAINT availabilities_practitioner_id_fkey FOREIGN KEY (practitioner_id) REFERENCES public.practitioners(id) ON DELETE CASCADE;


--
-- Name: cart_items cart_items_cart_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_cart_id_fkey FOREIGN KEY (cart_id) REFERENCES public.carts(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: order_status_history order_status_history_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.order_status_history
    ADD CONSTRAINT order_status_history_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: orders orders_address_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_address_id_fkey FOREIGN KEY (address_id) REFERENCES public.addresses(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: prescriptions prescriptions_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.prescriptions
    ADD CONSTRAINT prescriptions_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(id);


--
-- Name: prescriptions prescriptions_practitioner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.prescriptions
    ADD CONSTRAINT prescriptions_practitioner_id_fkey FOREIGN KEY (practitioner_id) REFERENCES public.practitioners(id);


--
-- Name: reviews reviews_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.items(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict lCIjpUPW8EdoRdTno72OveirQt4V8jO9OXgt7qhAYnyAt4fK02hX9K0Sej4S1uh

